<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <title>Home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<body>
<div>
    <section layout:fragment="content">
        <div class="container py-5 h-100">
            <form class="row d-flex justify-content-center align-items-center h-100"  th:action="@{/weather/givenCityName}" method="get">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div>
                        <input class="form-control me-2" name="cityName" type="search" placeholder="Enter City name" aria-label="Search">
                    </div>
                    <div>
                        <button class="btn btn-dark" type="submit">SEARCH</button>
                    </div>
                </div>
            </form>
            <div th:if="${OpenWeatherMapCityNotFoundException}" class="row d-flex justify-content-center align-items-center h-100">
                <span th:text="${OpenWeatherMapCityNotFoundException.getMessage()}" class="col-md-8 col-lg-6 col-xl-4">
                    CITY NOT FOUND EXCEPTION MESSAGE
                </span>
            </div>
        </div>
        <div th:unless="${OpenWeatherMapCityNotFoundException}" class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100" style="padding: 20px">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card" style="color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 th:text="|TIME ZONE: ${currentAndForecastSevenDaysWeatherData.timezone}|">
                                        TIME ZONE
                                    </h6>
                                    <h6 th:text="|CITY: ${cityName}|">
                                        CITY NAME
                                    </h6>
                                    <h6 th:text="'LATITUDE: ' + ${currentAndForecastSevenDaysWeatherData.lat} + ' &#176'">
                                        LATITUDE
                                    </h6>
                                    <h6 th:text="'LONGITUDE: ' + ${currentAndForecastSevenDaysWeatherData.lat} + ' &#176'">
                                        LONGITUDE
                                    </h6>
                                </div>
                                <h6 th:text="'TODAY - ' + ${#dates.dayOfWeekName(new java.util.Date(currentAndForecastSevenDaysWeatherData.current.getDt() * 1000))}|">
                                    DAY OF WEEK NAME
                                </h6>
                                <h6 th:text="${#dates.format(new java.util.Date(currentAndForecastSevenDaysWeatherData.current.getDt() * 1000), 'dd-MM-yyyy HH:mm:ss')}">
                                    DATE AND TIME
                                </h6>
                            </div>
                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <h4 th:text="${currentAndForecastSevenDaysWeatherData.current.getTemp()} + ' &#8451'" class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">
                                    TEMPERATURE
                                </h4>
                                <h6 th:text="'FEEL LIKES ' + ${currentAndForecastSevenDaysWeatherData.current.getFeels_like()} + ' &#8451'" class="display-6 mb-0 font-weight-bold" style="color: #1C2331;">
                                    TEMPERATURE FEEL LIKES
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div style="font-size: 1rem;">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wind" viewBox="0 0 16 16">
                                            <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${currentAndForecastSevenDaysWeatherData.current.getWind_speed()} + ' m/s'" class="ms-1">
                                            WIND SPEED
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
                                            <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                                        </svg>
                                        <span th:text="${currentAndForecastSevenDaysWeatherData.current.getWind_deg()} + ' &#176'" class="ms-1">
                                            WIND DEGREE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                                            <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                                            <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                                        </svg>
                                        <span th:text="${currentAndForecastSevenDaysWeatherData.current.getPressure()} + ' hPa'" class="ms-1">
                                            ATMOSPHERIC PRESSURE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                        </svg>
                                        <span th:text="${currentAndForecastSevenDaysWeatherData.current.getHumidity()} + ' &#37'" class="ms-1">
                                            HUMIDITY
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunrise" viewBox="0 0 16 16">
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${#dates.format(new java.util.Date(currentAndForecastSevenDaysWeatherData.current.getSunrise() * 1000), 'HH:mm:ss')}">
                                            SUNRISE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunset" viewBox="0 0 16 16">
                                            <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${#dates.format(new java.util.Date(currentAndForecastSevenDaysWeatherData.current.getSunset() * 1000), 'HH:mm:ss')}">
                                            SUNSET
                                        </span>
                                    </div>
                                </div>
                                <div>
                                        <span th:text="${currentAndForecastSevenDaysWeatherData.current.getWeather()[0].description}" class="small" style="color: #868B94">
                                    FORECAST WEATHER DESCRIPTION
                                     </span>
                                </div>
                                <div>
                                    <img th:src="@{'http://openweathermap.org/img/wn/' + ${currentAndForecastSevenDaysWeatherData.current.getWeather()[0].getIcon() + '@2x.png'}}" class="img-fluid img-thumbnail" alt="..." style="border: none;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div th:each="daily, iterStat : ${currentAndForecastSevenDaysWeatherData.getDaily()}" th:if="${iterStat.count} > 1" class="row d-flex justify-content-center align-items-center h-100" style="padding: 20px">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card" style="color: #4B515D; border-radius: 35px;">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h6 th:text="|TIME ZONE: ${currentAndForecastSevenDaysWeatherData.timezone}|">
                                        TIME ZONE
                                    </h6>
                                    <h6 th:text="|CITY: ${cityName}|">
                                        CITY NAME
                                    </h6>
                                    <h6 th:text="'LATITUDE: ' + ${currentAndForecastSevenDaysWeatherData.lat} + ' &#176'">
                                        LATITUDE
                                    </h6>
                                    <h6 th:text="'LONGITUDE: ' + ${currentAndForecastSevenDaysWeatherData.lat} + ' &#176'">
                                        LONGITUDE
                                    </h6>
                                </div>
                                <h6 th:text="${#dates.dayOfWeekName(new java.util.Date(daily.getDt() * 1000))}">
                                    DAY OF WEEK NAME
                                </h6>
                                <h6 th:text="${#dates.format(new java.util.Date(daily.getDt() * 1000), 'dd-MM-yyyy')}">
                                    DATE AND TIME
                                </h6>
                            </div>

                            <div class="d-flex flex-column text-center mt-5 mb-4">
                                <h4 th:text="${daily.getTemp().getDay()} + ' &#8451'" class="display-4 mb-0 font-weight-bold" style="color: #1C2331;">
                                    TEMPERATURE
                                </h4>
                                <h6 th:text="'FEEL LIKES ' + ${daily.getFeels_like().getDay()} + ' &#8451'" class="display-6 mb-0 font-weight-bold" style="color: #1C2331;">
                                    TEMPERATURE FEEL LIKES
                                </h6>
                            </div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div style="font-size: 1rem;">
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wind" viewBox="0 0 16 16">
                                            <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${daily.getWind_speed()} + ' m/s'" class="ms-1">
                                            WIND SPEED
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
                                            <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                                            <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                                        </svg>
                                        <span th:text="${daily.getWind_deg()} + ' &#176'" class="ms-1">
                                            WIND DEGREE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                                            <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                                            <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
                                        </svg>
                                        <span th:text="${daily.getPressure()} + ' hPa'" class="ms-1">
                                            ATMOSPHERIC PRESSURE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet-half" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10c0 0 2.5 1.5 5 .5s5-.5 5-.5c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                            <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                        </svg>
                                        <span th:text="${daily.getHumidity()} + ' &#37'" class="ms-1">
                                            HUMIDITY
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunrise" viewBox="0 0 16 16">
                                            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l1.5 1.5a.5.5 0 0 1-.708.708L8.5 2.707V4.5a.5.5 0 0 1-1 0V2.707l-.646.647a.5.5 0 1 1-.708-.708l1.5-1.5zM2.343 4.343a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${#dates.format(new java.util.Date(daily.getSunrise() * 1000), 'HH:mm:ss')}">
                                            SUNRISE
                                        </span>
                                    </div>
                                    <div>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sunset" viewBox="0 0 16 16">
                                            <path d="M7.646 4.854a.5.5 0 0 0 .708 0l1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V1.5a.5.5 0 0 0-1 0v1.793l-.646-.647a.5.5 0 1 0-.708.708l1.5 1.5zm-5.303-.51a.5.5 0 0 1 .707 0l1.414 1.413a.5.5 0 0 1-.707.707L2.343 5.05a.5.5 0 0 1 0-.707zm11.314 0a.5.5 0 0 1 0 .706l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM8 7a3 3 0 0 1 2.599 4.5H5.4A3 3 0 0 1 8 7zm3.71 4.5a4 4 0 1 0-7.418 0H.499a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1h-3.79zM0 10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 0 10zm13 0a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
                                        </svg>
                                        <span th:text="${#dates.format(new java.util.Date(daily.getSunset() * 1000), 'HH:mm:ss')}">
                                            SUNSET
                                        </span>
                                    </div>
                                </div>
                                <div>
                                        <span th:text="${daily.getWeather()[0].description}" class="small" style="color: #868B94">
                                    FORECAST WEATHER DESCRIPTION
                                     </span>
                                </div>
                                <div>
                                    <img th:src="@{'http://openweathermap.org/img/wn/' + ${daily.getWeather()[0].getIcon() + '@2x.png'}}" class="img-fluid img-thumbnail" alt="..." style="border: none;">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>