<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <title th:text="${recipeToModify.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/style/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <section layout:fragment="content">
        <h2 th:text="|MODIFY RECIPE - ${recipeToModify.name.toUpperCase()}|"></h2>
        <form action="#" th:action="|/recipe/${recipeToModify.id}/update|" method="post" th:object="${recipeToModify}">
            <div class="d-flex flex-column">
                <div class="form-group col-md-8">
                    <label for="inputName">NAME OF RECIPE</label>
                    <input type="text" th:field="*{name}" class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputPreparationTime">PREPARATION TIME</label>
                    <input type="number" th:field="*{preparationTime}" class="form-control" id="inputPreparationTime">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputServes">SERVES</label>
                    <input type="number" th:fi th:field="*{serves}" class="form-control" id="inputServes">
                </div>
                <div class="form-group col-md-8">
                    <label for="inputCategory">SELECT THE CATEGORY OF RECIPE</label>
                    <select class="form-control" th:field="*{category}" id="inputCategory">
                        <option th:value="${category}"
                                th:each="category : ${T(pl.javastart.cookbook.recipe.model.Category).values()}"
                                th:text="${category.name()}">CATEGORY</option>
                    </select>
                </div>
                <div class="form-group col-md-8">
                    <label for="inputLikesCounter">LIKES COUNTER</label>
                    <input type="number" th:field="*{likesCounter}" class="form-control" id="inputLikesCounter">
                </div>
                <h2>
                    INGREDIENTS:
                </h2>
                <div class="form-group col-md-8" th:each="ingredient, stat : *{ingredients}">
                    <div class="row">
                        <div class="col-sm">
                            <label for="inputQuantity">QUANTITY</label>
                            <input type="number" th:field="*{ingredients[__${stat.index}__].quantity}" class="form-control" step="1" id="inputQuantity">
                        </div>
                        <div class="col-sm">
                            <label for="inputMeasurement">MEASUREMENT</label>
                            <select th:field="*{ingredients[__${stat.index}__].measurement}" class="form-control" id="inputMeasurement">
                                <option th:value="${measurement}"
                                        th:each="measurement : ${T(pl.javastart.cookbook.recipe.model.Measurement).values()}"
                                        th:text="${measurement.name()}">MEASUREMENT</option>
                            </select>
                        </div>
                        <div class="col-sm">
                            <label for="inputIngredient">INGREDIENT</label>
                            <input type="text" th:field="*{ingredients[__${stat.index}__].name}" class="form-control" id="inputIngredient">
                        </div>
                    </div>
                </div>
                <h2>
                    PREPARATION INSTRUCTIONS:
                </h2>
                <div th:each="instruction, stat : *{preparationInstructions}">
                    <div class="form-group col-md-8">
                        <label for="inputPreparationInstructionName">NAME OF PREPARATION INSTRUCTION</label>
                        <input type="text" th:field="*{preparationInstructions[__${stat.index}__].name}" class="form-control" id="inputPreparationInstructionName">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputPreparationInstructionDescription">DESCRIPTION OF PREPARATION INSTRUCTION</label>
                        <textarea class="form-control" th:field="*{preparationInstructions[__${stat.index}__].description}" id="inputPreparationInstructionDescription" rows="4" ></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="submit">Modify</button>
                </div>
            </div>
        </form>
    </section>
</div>
</body>
</html>